* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  margin: 0;
  background-color: #edab00;
  font-family: Helvetica, sans-serif;
}

#timeline {
  display: block;
  position: relative;
  width: 100%;
}
#timeline article {
  display: block;
  position: relative;
  float: left;
  clear: left;
  width: 50%;
}
#timeline article.right {
  float: right;
  clear: right;
}

/* LINE */
#timeline:after {
  content: " ";
  display: block;
  clear: both;
}
#timeline:before {
  content: " ";
  position: absolute;

  top: 0;
  bottom: 0px;
  left: 50%;

  width: 6px;
  margin-left: -3px;

  background-color: #ff0;
}

/* CONTENT BOX */
#timeline article div.content {
  position: relative;
  float: right;

  padding: 10px;
  background-color: white;
  position: relative;
  border-radius: 10px;

  max-width: calc(100% - 50px);
  padding: 10px;

  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#timeline article.right div.content {
  float: left;

  margin-right: 0;
  margin-left: 40px;
}

#timeline article div.content:after {
  position: absolute;
  top: 15px;
  right: -10px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 10px solid transparent;
  content: " ";
}
#timeline article.right div.content:after {
  border-left-width: 0;
  border-right-width: 10px;
  left: -10px;
  right: auto;
}

#timeline article::after {
  content: " ";
  display: block;
  position: absolute;
  top: 18px;
  right: -18px;
  z-index: 10;

  width: 25px;
  height: 25px;

  border-radius: 100%;
  background-color: #000;
  border: 5px solid #ff0;
}
#timeline article.right::after {
  left: -17px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 800px) {
  #timeline:before {
    left: 21.5px;
  }
  #timeline article {
    float: none;
    clear: both;
    width: 100%;
  }
  #timeline article.left div.content,
  #timeline article.right div.content {
    float: left;

    margin-right: 0;
    padding-right: 10px;
    margin-left: 50px;
    max-width: calc(100% - 60px);
  }

  #timeline article.left div.content:after,
  #timeline article.right div.content:after {
    border-left-width: 0;
    border-right-width: 10px;
    left: -10px;
    right: auto;
  }
  #timeline article.left::after,
  #timeline article.right::after {
    left: 4px;
  }
}
table {
  text-align: center;
  width: 100%;
}

fieldset {
  display: inline-block;
  flex: 1;
  border-radius: 5px;
  max-width: 250px;
}
fieldset > legend {
  white-space: nowrap;
}
fieldset > legend[title] {
  cursor: help;
}

fieldset > hr {
  margin: 4px 0;
}

dl {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0;
}
dl > div {
  display: flex;
  flex-direction: column;
}
dl > div > dt {
  font-weight: bold;
}
dl > div > dd {
  margin: 0;
}
