@import "tailwindcss";

@config '../tailwind.config.js';

* {
  box-sizing: border-box;
}

.diary-entry:hover {
  box-shadow: rgba(28, 28, 30, 0.45) 0px 0px 20px !important;
  z-index: 10;
}
.diary-entry.expanded {
  box-shadow: rgba(28, 28, 30, 0.9) 0px 0px 20px !important;
}

/* Set a background color */
body {
  background-color: #edab00;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
}
[title] {
  cursor: help;
}

#timeline {
  display: block;
  position: relative;
  width: 100%;
}
#timeline article {
  display: block;
  position: relative;
  float: left;
  clear: left;
  width: 50%;
}
#timeline article.right,
#timeline article:not(.right):not(.left):nth-child(even) {
  float: right;
  clear: right;
}

/* LINE */
#timeline:after {
  content: " ";
  display: block;
  clear: both;
}
#timeline:before {
  content: " ";
  position: absolute;

  top: 0;
  bottom: 0px;
  left: 50%;

  width: 6px;
  margin-left: -3px;

  background-color: #ff0;
}

/* CONTENT BOX */
#timeline article div.content {
  position: relative;
  float: right;
  background-color: white;
  position: relative;
  border-radius: 10px;

  max-width: calc(100% - 35px);
  padding: 5px 10px 10px;

  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#timeline article div.content.future {
  opacity: 0.5;
}
#timeline article div.content.current {
  box-shadow: rgba(28, 28, 30, 0.75) 0px 0px 20px;
}
#timeline article.right div.content,
#timeline article:not(.right):not(.left):nth-child(even) div.content {
  float: left;

  margin-right: 0;
  margin-left: 15px;
}

#timeline article div.content:after {
  position: absolute;
  top: 9.25px;
  right: -9px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 10px solid transparent;
  content: " ";
}
#timeline article.now div.content:after {
  border-right-color: #000;
  border-left-color: #000;
}
#timeline article.right div.content:after,
#timeline article:not(.right):not(.left):nth-child(even) div.content:after {
  border-left-width: 0;
  border-right-width: 10px;
  left: -9px;
  right: auto;
}

#timeline article::after {
  content: " ";
  display: block;
  position: absolute;
  top: 25px;
  right: -5px;
  z-index: 10;

  width: 10px;
  height: 10px;

  border-radius: 100%;
  background-color: #000;
  border: 5px solid #ff0;
}
#timeline article.now::after {
  background-color: #ff0000;
  z-index: 20;
}

#timeline article.now > .content {
  background-color: #000;
  color: white;
}
#timeline article.right::after,
#timeline article:not(.right):not(.left):nth-child(even)::after {
  left: -5px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 800px) {
  #timeline:before {
    left: 21.5px;
  }
  #timeline article {
    float: none;
    clear: both;
    width: 100%;
  }
  #timeline article div.content,
  #timeline article.right div.content,
  #timeline article:not(.right):not(.left):nth-child(even) div.content {
    float: left;

    margin-right: 0;
    padding-right: 10px;
    margin-left: 45px;
    max-width: calc(100% - 55px);
  }

  #timeline article div.content:after,
  #timeline article.right div.content:after,
  #timeline article:not(.right):not(.left):nth-child(even) div.content:after {
    border-left-width: 0;
    border-right-width: 10px;
    left: -9px;
    right: auto;
  }
  #timeline article::after,
  #timeline article.right::after,
  #timeline article:not(.right):not(.left):nth-child(even) div.content::after {
    left: 11.5px;
  }
}
table {
  text-align: center;
  width: 100%;
}

dl {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

dl > dd {
  margin: 0;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  background: white;
  border-bottom: 1px solid #ccc;
}

input[type="text"]:disabled,
input[type="date"]:disabled,
input[type="number"]:disabled,
select:disabled {
  opacity: 0.5;
}
