on:
  push:
    branches: []
  pull_request:
    branches: []
jobs:
  test:
    env:
      JWT_SECRET: "secret_for_tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - uses: supercharge/mongodb-github-action@1.12.0
      - run: bun ci
      - run: bunx playwright install chromium --with-deps
      - run: bun run build
      - run: bunx playwright test
